@import "tailwindcss";

:root {
  --cream: #f7f1e8;
  --gold: #b99a63;
  --black: #090909;
  --text: #241f1b;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: var(--cream);
  color: var(--text);
}

* {
  box-sizing: border-box;
}